.form{
    position: relative;
    top: 15em;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 4px;
    box-shadow: 0 0 4px 0px rgb(255, 255, 255);
    width: 35em;
    padding: 1.5em;
    height: 12em;
    background: #fff;
}

.w-100{
    width: 100%;
}